---
layout: default
---
<link href="/css/override.css" rel="stylesheet" type="text/css">
<div class="flex-container" style="background-color: #FAEAE1">
	<div>
		<img src="{{ "/assets/images/me/helenT.JPG" | prepend: site.baseurl }}" style="float: left"> 
	</div>
	<div style="float: right">
		<h1>Welcome!</h1>
		<p>Hi, I'm Helen!<br>
		I started @bingfanbap in 2022 initially as a way to cope and to motivate myself but now it has become my way of learning to cook, to create videos/content, and to figure out more about myself!<br>
		Follow me along on my food/personal journey and hope you'll enjoy some of the things I share!</p>
	</div>
</div>